body {
    background-image: url(images/houston.jpg);
    background-size: cover;
}

@media (min-width: 784px) {
    .container {
        width: 50%;
        margin: auto;
    }
}

@media (max-width: 784px) {
    body {
        background-color: #0c62fb;
    }
}
