body {
    background-image: url(images/houston.jpg);
    background-size: cover;
}

/* img#header-image.img-responsive.mx-auto.d-block {
    width: 300px!important;
} */

@media (min-width: 784px) {
    .container {
        width: 50%;
        margin: auto;
    }
}

/* @media (max-width: 784px) {
    .container {
        width: 90%;
        margin: auto;
    }
} */
