body {
    background-image: url(images/houston.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-size: auto; */
}

@media (min-width: 784px) {
    .container {
        width: 50%;
        margin: auto;
    }
}

@media (max-width: 768px) {
    body {
        background-color: #0c62fb;
        background-image: url();
    }
}
